@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Protest Strike', sans-serif;
}

body{
    background-color: #161925;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1{
    font-size:5em;
    margin-top: 2%;
}

.main{
    display:flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 4%;
    gap: 70px;
}

.center-main{
    flex-basis: 1;
    font-size:20px;
    min-width:300px;
}

.result{
    font-size:70px;
}

.player-choice{
    border: 6px solid #235789;
    padding: 70px;
    border-radius: 20px;
    width: 300px;
}

button{
    background-color: #235789;
    border: none;
    padding:5px;
    border-radius:10px;
    font-size:25px;
    margin:10px;
}

button:hover{
    background-color: #0f81ec;
    transform: scale(1.25);
    cursor:pointer;
    transition: 0.5s;
}

.cpu-choice{
    border: 6px solid #c1292e;
    padding: 70px;
    border-radius: 20px;
    min-width: 300px;
}

.cpu-choice p{
    text-align: center;
    font-size:30px;
    margin-top:30px;
    background-color: #c1292e;
    border-radius: 10px;
    padding:5px;
}

.winner{
    transform:scale(2.5);
    margin-top: 20px;
    margin-bottom:20px;
}

.restart-button{
    background-color: #23895e;
    border: none;
    padding:5px;
    border-radius:10px;
    font-size:25px;
    margin:10px;
}

.restart-button:hover{
    background-color: #0fec3f;
    transform: scale(1.25);
    cursor:pointer;
    transition: 0.5s;
}